*{                        /* universal selector*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* control how total size of an element is calculate  */
    font-family:'Times New Roman', Times, serif;
}

html {
  scroll-behavior: smooth;  /* for smooth animation*/
}

body{
    background-color:white;
}

/*header*/
header{
    background: linear-gradient(120deg, #061B3D, #0B3557);  /* The 120deg is the direction of the gradient.*//* padding: 18px 40px;  [top-bottom] [left-right] */
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 0px 8px 5px rgba(0, 0, 0, 0.1);
}
header h1{
    font-weight: bold;
    margin-right:auto;
    font-size: 35px;
    padding: 3px;
    margin-top: 5px; 
    margin-left: 1%; 
}

/*navigation Bar*/
nav{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 1%;
}
nav a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    transition: color 0.3s; /* for smooth animation*/   
}
nav a:hover{
     color: #FFD700; 
}
nav .dropdown-toggle:hover { /* for explore and business hover*/
  color: gold !important;
}

/*search input*/
.search{
    padding-left: 36px;
    background: url('https://cdn-icons-png.flaticon.com/512/54/54481.png') no-repeat 10px center;
    background-size: 18px 18px; /*18x18 pixels*/
    height: 32px;
    width: 680px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid white;
    outline: none;    
    margin-right: 1%
}
.search:focus{
    border:2px solid #429efb;  
    box-shadow: 0 0 5px 1px white;
}

/* FOR EduNova BUSINESS */
.dropdown-menu button{
    background-color: #061B3D;
    border: #061B3D;
    width: 90px;
    padding: 5px;
    border-radius: 8px;
}
.dropdown-menu button:hover{
    background-color: #157347;
}

 /* for caresoul*/
.body{  
    border: 1px solid white;
    box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.1);
}

/*For caresoul box*/
.carousel-item{
    position: relative;
    height: 450px;
}
.carousel-item img{
    width: 100%;
    height:400px;   
}
.overlay-box {
      position: absolute;
      top: 18%;
      left: 9%;
      background:white;
      color: #111;
      padding: 30px;
      border-radius: 12px;
      width: 400px;
      box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.1); 
}
.overlay-box a{
    background-color: #061B3D;
    color: white;
}

/*FOR ACCELETORS */
.acceletors{
    padding: 30px 120px;    
}
.text{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 0 1px 1px rgb(132, 131, 131);
}
.text1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-shadow: 0 0 2px black; */
}
.content{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.card-container{ 
    display: grid;
    grid-template-columns: repeat(3,1fr);/* Each column will take 1 fraction of the available space equally*/
    gap: 20px;
    justify-content: center;
    background-color: white;
    margin-left: 1%;
    
}
.cardcareer{
    padding: 15px 15px;
    box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
    border-radius: 6px;
    text-align: center;
}
.cardcareer img{
    width: 360px;
    height: auto;   
    border-radius: 8px;
}
.cardcareer button{
    border: 1px solid #0B3557;
    border-radius: 5px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    text-align: center;
    background-color: #1f3b57;
    color:#ffffff;
    padding: 5px;
}
.career{       
    padding:5px 120px;
    margin-left: 0.7%;
}
.career a{
    border: 1px solid rgb(54, 54, 235);
    border-radius: 8px;
    /* height: 30px; */
    padding: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(54, 54, 235);
    text-decoration: none;
}
.career a:hover{
    background-color:rgb(179, 179, 247);
}

/*FOR COURSES */
.coursee{ 
    padding: 10px 100px;
}
.text2{
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-shadow: 0 1px 1px rgb(132, 131, 131);
}
.text3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-shadow: 0 0 2px black; */
}
.space{      /* this is for div in which all skills are theer*/
    padding: 10px 100px;  
}
.skills{     /* for all the links in second section*/
     text-decoration: none;
     font-size: 22px;
     font-weight: bold;
     color: black;
     margin-left: 15px;
     text-align: center;
}
.skills:hover{
     text-decoration: underline;
}
.card-container1{   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-content: center;
    background-color: white;
}
.card1{
    padding: 20px 15px;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 10px;
    /* border: 1px solid #ccc;  if you wnat you can add */
    /* text-align: center; */
    box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.1);
}
.card1 button{
    border: 0.5px solid #061B3D;
    border-radius:6px;
    padding: 4px;
    width: 100px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:#0B3557;
    color: white;
    margin-right: 10px;
    margin-top: auto;  
}
.card1 button a{
    text-decoration: none;
    color: white;
}
.card1 button:hover{
    background-color: 	#157347;
    border: 1px solid #157347;
}
.card1 img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.card1 h3{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.card1 h4{
    font-size: 13px;
}
.card1 h2{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.course{   
    padding: 10px 100px;  /* for all other courses for web take 15px */
}
.course a{
    border: 1px solid rgb(54, 54, 235);
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    color: rgb(54, 54, 235);
    padding: 12px;
}
.course a:hover{
    background-color: rgb(179, 179, 247);
}

/*  AI caresoul  for business leaders*/
.ai{
    height: 467px;
}
.ai img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
}
.ai1{
    position: relative;
    height: 400px;
}
.ai1 h1{
    position: absolute;
    bottom: 670px;
    left: 38%;
    color: rgb(8, 8, 8);
}
.ai1 h6{
    position: absolute;
    bottom: 630px;
    left: 38%;
    width: 350px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(7, 7, 7);
}
.ai1 button{
    position: absolute;
    left: 38%;
    bottom: 580px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #eef0f2;
    width: 130px;
    border-radius: 5px;
}
.ai1 button a{
    color: rgb(12, 12, 12);
    text-decoration: none;
}
.ai1 button:hover{
    background-color:  rgb(179, 179, 247);
    border: 1px solid  rgb(179, 179, 247);
    
}

/* FOR REVIEWS */
.text5{
    padding: 20px ;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
   text-shadow: 0 1px 1px rgb(132, 131, 131);
    background-color: whitesmoke;
}
.card-container2{  
    padding: 10px 100px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    gap: 20px;
    background-color: whitesmoke;
}
.card-container2 p{
    width: 200px;
    border: 1px solid #b3b0b0;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: 30px; 
}

/* FOR COMPANIES LOGO AND PHOTO  */
.text4{
    padding: 20px 0px;
    text-align: center;
    text-shadow: 0 1px 1px rgb(132, 131, 131);
    background-color: #f8f9fa;
}
.images{
    background-color: #f8f9fa;
}
.images img{  
      width:100%;   
}
/* .company{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    justify-content: center;
    padding: 10px  100px;
    background-color: white;
}
.company img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
} */

/*FOOTER */
.foot{
  background-color: #122037;
  color: white;
}
.foot h4{
  padding: 2% 3%;
}
.foot h5{
    padding: 10px 10%;
    font-weight: bold;
    font-size: 18px;
}
.foot h6{
    padding: 0px 10%;
    font-size: 12px;
}
.foot a{
    color: white;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.foot a:hover{
    text-decoration: underline;
}
.foot1{
    background-color: #041228;
    padding: 2% 1%;
}
.icon h4{
    text-align: center;
    padding: 0px;
}
.icon{
    text-align: center;
}
.icon i{
    border: 1px solid #ccc;
    padding: 6px;
    background-color:#061B3D;
    border-radius: 30px;
}
.icon i:hover{
    color: gold;
}



/* FOR POPUP */
.cardcareer:hover,
.card1:hover,
.card-container2 p:hover,.container3 {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}



/*--- Responsive Styles ---*/
@media (max-width: 1500px) {
   header {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  nav a {
    margin-top: 5%;
    font-size: 22px;
  }
   .pipe{
    margin-top: 5%;
    font-size: 22px;
  }
  /* Hides "Explore" and "EduNova Business" dropdowns */
  .dropdown:nth-of-type(1),  /* First dropdown: Explore */
  .dropdown:nth-of-type(2) { /* Second dropdown: EduNova Business */
    display: none !important;
  
}
.search {
    width: 95%;
  }
}
@media (max-width: 1024px) {
     header {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  nav a {
    margin-top: 5%;
    font-size: 20px;
  }
  .pipe{
    margin-top: 5%;
    font-size: 20px;
  }
  /* Hides "Explore" and "EduNova Business" dropdowns */
  .dropdown:nth-of-type(1),  /* First dropdown: Explore */
  .dropdown:nth-of-type(2) { /* Second dropdown: EduNova Business */
    display: none !important;
  
}
  .search {
    width: 95%;
  }

  .card-container,
  .card-container1,
  .card-container2 {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }

  .acceletors,
  .career,
  .coursee,
  .space,
  .course {
    padding: 20px;
  }

  .overlay-box {
    width: 300px;
    padding: 20px;
    left: 5%;
  }
}

@media (max-width: 868px) {
     header {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  nav a {
    margin-top: 5%;
    font-size: 16px;
  }
  .pipe{
    margin-top: 5%;
    font-size: 16px;
  }
  /* Hides "Explore" and "EduNova Business" dropdowns */
  .dropdown:nth-of-type(1),  /* First dropdown: Explore */
  .dropdown:nth-of-type(2) { /* Second dropdown: EduNova Business */
    display: none !important;
  
}
    
  header h1 {
    font-size: 24px;
  }

  nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .search {
    width: 95%;
    margin-top: 10px;
  }

  .carousel-item {
    height: 300px;
  }

 .overlay-box {
    padding: 10px;
    font-size: 11px;
    width: 300px;
    margin-top: 2%;
  }
  .overlay-box h2{
    font-size: 22px;
  }
  .overlay-box a{
    font-size: 15px;
  }

  .card-container,
  .card-container1,
  .card-container2 {
    grid-template-columns: 1fr;
  }

  .card img,
  .card1 img {
    width: 100%;
  }
  .space{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    padding: 10px;
    scroll-behavior: smooth;
  }
  .skills{
    flex: 0 0 auto;
    white-space: nowrap;
    font-size: 14px;
  }

  .ai1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  text-align: center;
  background-color: transparent;
}

.ai1 h1,
.ai1 h6,
.ai1 button {
  position: static;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  color: rgb(13, 13, 13);
}
.container3{
    margin-top:82px;
    align-items: center;
}
.card-container2 p{
    margin-left: 22%;
}
}

@media (max-width: 480px) {  /* for phone*/
  header {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  nav a {
    margin-top: 5%;
    font-size: 12px;
  }
  .pipe{
    margin-top: 4%;
     font-size: 12px;
  }
  /* Hides "Explore" and "EduNova Business" dropdowns */
  .dropdown:nth-of-type(1),  /* First dropdown: Explore */
  .dropdown:nth-of-type(2) { /* Second dropdown: EduNova Business */
    display: none !important;
  
  }
  .overlay-box {
    padding: 10px;
    font-size: 11px;
    width: 200px;
    margin-top: 5%;
  }
  .overlay-box h2{
    font-size: 22px;
  }
  .overlay-box a{
    font-size: 15px;
  }

  .cardcareer,
  .card1 {
    width: 100%;
  }
  .space{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    padding: 10px;
    scroll-behavior: smooth;
  }
  .skills{
    flex: 0 0 auto;
    white-space: nowrap;
    font-size: 14px;
  }

  .card1 h3,
  .card1 h4,
  .card1 h2 {
    font-size: 14px;
  }

  .text,
  .text2 {
    font-size: 28px;
  }
  .course{
    margin-left: 5%;
  }

  .text5 {
    font-size: 22px;
  }

  .foot h5 {
    font-size: 14px;
  }

  .foot h6 {
    font-size: 10px;
  }

  .ai1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.ai1 h1,
.ai1 h6,
.ai1 button {
  position: static;
  margin-bottom: 10px;
  width: 100%;
  max-width: 280px;
  text-align: center;
  font-size: 14px;
  color: black;
}
.container3{
    margin-top:65px;
    align-items: center;
}
.card-container2 p{
    margin-left: 22%;
}
}



/* Flex (short for Flexbox) is a CSS layout module designed to arrange elements in a single direction—row or column—even when their sizes are unknown or dynamic. */






